:root {
  --principalGray: #4a4a4a;
  --secondGray: #f5f5f5;
  --omarefgYellow: #ded706;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--principalGray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Header */
    /* Navbar */
    .ListItem{
      display: inline;
      position: relative;
    }
    .ListItem > a{
      padding: .375rem 1rem;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      color: var(--principalGray);
    }
    .ListItem > a:hover {
      background-color: var(--secondGray);
      border-top: 1.5px solid var(--omarefgYellow);
    }
    .UList, .Dropdown {
      text-decoration: none;
      list-style: none;
    }
    .Dropdown {
      position: absolute;
      display: block;
      left: 0;
      min-width: 12rem;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      z-index: 20;
    }
    .DropdownListItem {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    }
    .DropdownListItem > a {
      display: block;
      font-size: .875rem;
      padding: .375rem 1rem;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      color: var(--principalGray);
    }