
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');.HeaderContainer {
    padding: 1rem;
}.UList {
    float: right;
}.UList, .Dropdown, .IconsDropdown {
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0;
}.ListItem{
    display: inline;
    position: relative; 
}.ListItem > a {
        padding: .5rem 1rem;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: #4a4a4a;
        color: var(--darkGray);
    }.ListItem:hover > .Dropdown {
            display: inline;
        }.ListItem:hover > a {
            background-color: #f5f5f5;
            background-color: var(--softGray);
            border-top: 1.5px solid #ded706;
            border-top: 1.5px solid var(--yellow);
            color: #282828;
            color: var(--black);
        }.ListItem:hover > .IconsDropdown {
            opacity: 1;
            right: -12px;
            transition: 1s;
        }.Dropdown {
    position: absolute;
    display: none;
    left: 0;
    min-width: 10rem;
    padding-top: 4px;
    top: 100%;
    z-index: 20;
}.DropdownListItem {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
}.DropdownListItem > a {
        display: block;
        font-size: .875rem;
        padding: .375rem 1rem;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: #4a4a4a;
        color: var(--darkGray);
        white-space: nowrap;
    }.DropdownListItem > a:hover {
            color: #ded706;
            color: var(--yellow);
            transition: .3s;
            background-color: #f5f5f5;
            background-color: var(--softGray);
        }.IconsDropdown {
    position: absolute;
    display: inline;
    opacity: 0;
    right: -600px;
    transition: 1s;
    min-width: 18rem;
    padding-top: 10px;
    top: 100%;
    z-index: 20;
}.IconsDropdownListItem {
    display: inline-block;
}.IconsDropdownListItem > a {
        font-size: .875rem;
        padding: .375rem 1rem;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: #4a4a4a;
        color: var(--darkGray);
    }.IconsDropdownListItem > a:hover{
            color: #ded706;
            color: var(--yellow);
            transition: .3s;
            background-color: #f5f5f5;
            background-color: var(--softGray);
        }.SectionContainer {
    width: 70vw;
    margin: 0 auto;
    font-size: 1.5rem;
}.SectionContainer h4 {
        color: #ded706;
        color: var(--yellow);
        border-bottom: 1px solid #e1e1e1;
        border-bottom: 1px solid var(--border);
        margin-bottom: 1rem;
        margin-top: 2.5rem;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.125;
    }.Footer {
    padding: 1rem;
    background: #f5f5f5;
    background: var(--softGray);
    text-align: center;
}.Author {
    font-size: .8em;
    margin: 0;
}.Emoji {
    margin-left: 5px;
}.CV {
    font-size: 1em;
    margin: 1em;
    font-weight: 400;
    line-height: 1.125;
}.CV > a {
        color: #282828;
        border-top: 1px solid #ded706;
        border-top: 1px solid var(--yellow);
        margin-bottom: 1rem;
        transition: .3s;
        text-decoration: none;
    }.CV > a:hover {
        color: #ded706;
        color: var(--yellow);
        border: none;
        font-size: 18px;
        border-top: 1px solid #ded706;
        border-top: 1px solid var(--yellow);
        border-right: 1px solid #ded706;
        border-right: 1px solid var(--yellow);
        padding-right: 20px;
        padding-top: 5px;
        }@font-face {
    font-family: 'ofg';
    src:  url('styles/fonts/ofg.eot');
    src:  url('styles/fonts/ofg.eot') format('embedded-opentype'),
          url('styles/fonts/ofg.ttf') format('truetype'),
          url('styles/fonts/ofg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }@font-face {
  font-family: 'ofg';
  src:  url('styles/fonts/icomoon.eot');
  src:  url('styles/fonts/icomoon.eot') format('embedded-opentype'),
        url('styles/fonts/icomoon.ttf') format('truetype'),
        url('styles/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}[class^="ofg-"], [class*=" ofg-"] {
    font-family: 'ofg' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-feature-settings: normal;
            font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }.ofg-platzi:before {
    content: "\e913";
  }.ofg-uplabs:before {
    content: "\e900";
  }.ofg-envato:before {
    content: "\e901";
  }.ofg-logopond:before {
    content: "\e902";
  }.ofg-freelancer:before {
    content: "\e903";
  }.ofg-designcontest:before {
    content: "\e904";
  }.ofg-medium:before {
    content: "\e905";
  }.ofg-bitbucket:before {
    content: "\e906";
  }.ofg-codepen:before {
    content: "\e907";
  }.ofg-email:before {
    content: "\e911";
  }.ofg-blogger:before {
    content: "\e912";
  }.ofg-brand:before {
    content: "\e912";
  }.ofg-social:before {
    content: "\e912";
  }.ofg-pinterest:before {
    content: "\e908";
  }.ofg-wordpress:before {
    content: "\e909";
  }.ofg-stackoverflow:before {
    content: "\e90a";
  }.ofg-github:before {
    content: "\e90b";
  }.ofg-youtube:before {
    content: "\e90c";
  }.ofg-linkedin:before {
    content: "\e90d";
  }.ofg-facebook:before {
    content: "\e90e";
  }.ofg-google:before {
    content: "\e90f";
  }.ofg-twitter:before {
    content: "\e910";
  }.ofg-instagram:before {
    content: "\ea92";
  }:root {
  --darkGray: #4a4a4a;
  --softGray: #f5f5f5;
  --yellow: #ded706;
  --black: #282828;
  --border: #e1e1e1;
}html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  color: var(--darkGray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
